<p><%= @care.day %></p>
<%= simple_form_for @care do |f| %>
  <% 6.times do |index| %>
    <div>
      <% case index %>
        <% when 0 %>
        <h3>COD1</h3>
        <% when 1 %>
        <h3>CATE</h3>
        <% when 2 %>
        <h3>CE INC</h3>
        <% when 3 %>
        <h3>EQ INC</h3>
        <% when 4 %>
        <h3>EQ SAP / EQ INC</h3>
        <% when 5 %>
        <h3>STG</h3>
      <% end %>

      <%= simple_fields_for "care[users_attributes][#{index}]", @care.users[index] do |uf| %>
        <%= uf.input :first_name, label: "Prénom", input_html: { disabled: true } %>
        <%= uf.input :last_name, label: "Nom", input_html: { disabled: true } %>
          <%= select_tag "care[user_cares_attributes][#{index}][user_id]",
                options_from_collection_for_select(User.where.not(id: @care.users[index] ), :id, :full_name, @care.users[index].nil? ? nil : @care.users[index].id),
                label: "Sélectionner une autre personne",
                include_blank: true %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit "Valider" %>
<% end %>
