<div class="edit-page-container">
    <h3><%= @care.day %></h3>
    <div class="form-container">
    <%= simple_form_for @care, url: care_path(@care), method: :patch do |f| %>
    <div class="edit-care-container" data-controller="users-dropdown">
      <% 7.times do |index| %>
        <div class="form-card">
          <% case index %>
            <% when 0 %>
              <h4>COD1</h4>
            <% when 1 %>
              <h4>CATE</h4>
            <% when 2 %>
              <h4>CE INC</h4>
            <% when 3 %>
              <h4>EQ INC</h4>
            <% when 4 %>
              <h4>EQ SAP / EQ INC</h4>
            <% when 5 %>
              <h4>STG</h4>
            <% when 6 %>
              <h4>SOG</h4>
          <% end %>

          <% case index %>
            <% when 0 %>
              <%= simple_fields_for "care[users_attributes][#{index}]", @care.users[index] do |uf| %>
              <%= uf.input :first_name, label: "Prénom", input_html: { disabled: true } %>
              <%= uf.input :last_name, label: "Nom", input_html: { disabled: true } %>

              <select name="care[user_cares_attributes][<%= index %>][user_id]" class="users-dropdown" data-users-dropdown-target="select"
                      data-action="change->users-dropdown#change">
                <% @users_cod.each do |user| %>
                  <option value="<%= user.id %>" <%= 'selected' if @care.users[index]&.id == user.id %>><%= user.full_name %></option>
                <% end %>
                <option value="" disabled>------ EQ INC ------</option>
                <% @users_eq_inc.reject { |user| @users_cod.include?(user) }.each do |user| %>
                  <option value="<%= user.id %>" <%= 'selected' if @care.users[index]&.id == user.id %>><%= user.full_name %></option>
                <% end %>
              </select>
            <% end %>
            <% when 1%>
              <%= simple_fields_for "care[users_attributes][#{index}]", @care.users[index] do |uf| %>
              <%= uf.input :first_name, label: "Prénom", input_html: { disabled: true } %>
              <%= uf.input :last_name, label: "Nom", input_html: { disabled: true } %>

              <select name="care[user_cares_attributes][<%= index %>][user_id]" class="users-dropdown" data-users-dropdown-target="select"
                      data-action="change->users-dropdown#change">
                <% @users_cate.each do |user| %>
                  <option value="<%= user.id %>" <%= 'selected' if @care.users[index]&.id == user.id %>><%= user.full_name %></option>
                <% end %>
                <option value="" disabled>------ CA1E ------</option>
                <% @users_ca1e.reject { |user| @users_cate.include?(user) }.each do |user| %>
                  <option value="<%= user.id %>" <%= 'selected' if @care.users[index]&.id == user.id %>><%= user.full_name %></option>
                <% end %>
                <option value="" disabled>------ Autres ------</option>
                <% @users_others.each do |user| %>
                  <option value="<%= user.id %>" <%= 'selected' if @care.users[index]&.id == user.id %>><%= user.full_name %></option>
                <% end %>
              </select>
            <% end %>
            <% when 2 %>
              <%= simple_fields_for "care[users_attributes][#{index}]", @care.users[index] do |uf| %>
                <%= uf.input :first_name, label: "Prénom", input_html: { disabled: true } %>
                <%= uf.input :last_name, label: "Nom", input_html: { disabled: true } %>

                <select name="care[user_cares_attributes][<%= index %>][user_id]" class="users-dropdown" data-users-dropdown-target="select"
                        data-action="change->users-dropdown#change">
                  <% @users_ce_inc.each do |user| %>
                    <option value="<%= user.id %>" <%= 'selected' if @care.users[index]&.id == user.id %>><%= user.full_name %></option>
                  <% end %>
                  <option value="" disabled>------ EQ INC ------</option>
                  <% @users_eq_inc.reject { |user| @users_ce_inc.include?(user) }.each do |user| %>
                    <option value="<%= user.id %>" <%= 'selected' if @care.users[index]&.id == user.id %>><%= user.full_name %></option>
                  <% end %>
                </select>
              <% end %>
            <% when 3 %>
              <%= simple_fields_for "care[users_attributes][#{index}]", @care.users[index] do |uf| %>
                <%= uf.input :first_name, label: "Prénom", input_html: { disabled: true } %>
                <%= uf.input :last_name, label: "Nom", input_html: { disabled: true } %>
                  <%= select_tag "care[user_cares_attributes][#{index}][user_id]",
                        options_from_collection_for_select(@users_eq_inc, :id, :full_name, @care.users[index].nil? ? nil : @care.users[index].id),
                        label: "Sélectionner une autre personne", class: "users-dropdown",
                        data: {
                          users_dropdown_target: "select",
                          action: "change->users-dropdown#change"
                        } %>
              <% end %>
            <% when 4 %>
              <%= simple_fields_for "care[users_attributes][#{index}]", @care.users[index] do |uf| %>
                <%= uf.input :first_name, label: "Prénom", input_html: { disabled: true } %>
                <%= uf.input :last_name, label: "Nom", input_html: { disabled: true } %>
                  <%= select_tag "care[user_cares_attributes][#{index}][user_id]",
                        options_from_collection_for_select(@users_eq_sap, :id, :full_name, @care.users[index].nil? ? nil : @care.users[index].id),
                        label: "Sélectionner une autre personne", class: "users-dropdown",
                        data: {
                          users_dropdown_target: "select",
                          action: "change->users-dropdown#change"
                        } %>
              <% end %>
            <% when 5 %>
              <%= simple_fields_for "care[users_attributes][#{index}]", @care.users[index] do |uf| %>
                <%= uf.input :first_name, label: "Prénom", input_html: { disabled: true } %>
                <%= uf.input :last_name, label: "Nom", input_html: { disabled: true } %>
                  <%= select_tag "care[user_cares_attributes][#{index}][user_id]",
                        options_from_collection_for_select(@users_stg, :id, :full_name, @care.users[index].nil? ? nil : @care.users[index].id),
                        label: "Sélectionner une autre personne",
                        class: "users-dropdown",
                        data: {
                          users_dropdown_target: "select",
                          action: "change->users-dropdown#change"
                        } %>
            <% end %>
            <% when 6 %>
              <%= simple_fields_for "care[users_attributes][#{index}]", @user_sog do |uf| %>
                <%= uf.input :first_name, label: "Prénom", input_html: { disabled: true } %>
                <%= uf.input :last_name, label: "Nom", input_html: { disabled: true } %>
                  <%= select_tag "care[user_cares_attributes][#{index}][user_id]",
                        options_from_collection_for_select(@users, :id, :full_name, @user_sog.nil? ? nil : @user_sog.id),
                        label: "Sélectionner une autre personne",
                        class: "users-dropdown" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      </div>
      <%= f.submit "Valider", class: "btn" %>
    <% end %>
    </div>
</div>
