<div data-controller="sort-cares" class="filters">
  <div class="filter">
    <select id="month" name="month" data-action="change->sort-cares#updateCares" data-sort-cares-target="month">
      <% I18n.t('date.month_names').each_with_index do |month_name, index| %>
        <% next if month_name.nil? %>
        <option value="<%= month_name.downcase %>" <%= 'selected' if month_name.downcase == params[:month] %>>
          <%= month_name %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="filter">
    <select id="year" name="year" data-action="change->sort-cares#updateCares" data-sort-cares-target="year">
      <% (2024..2100).each do |year| %>
        <option value="<%= year %>" <%= 'selected' if year.to_s == params[:year] %>>
          <%= year %>
        </option>
      <% end %>
    </select>
  </div>
</div>

<%= render 'shared/cares' %>
