<div data-controller="sort-cares" class="filters">
  <div class="filter">
    <select id="month" name="month" data-action="change->sort-cares#updateCares" data-sort-cares-target="month">
      <% I18n.t('date.month_names').each_with_index do |month_name, index| %>
        <% next if month_name.nil? %>
        <option value="<%= month_name.downcase %>" <%= 'selected' if month_name.downcase == params[:month] %>>
          <%= month_name %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="filter">
    <select id="year" name="year" data-action="change->sort-cares#updateCares" data-sort-cares-target="year">
      <% (2024..2100).each do |year| %>
        <option value="<%= year %>" <%= 'selected' if year.to_s == params[:year] %>>
          <%= year %>
        </option>
      <% end %>
    </select>
  </div>
</div>

<div class="cards-container">
    <h2>Gardes du mois</h2>
    <div class="care-cards">
      <% @cares.each do |care| %>
        <%= link_to care_path(care) do %>
          <div class="care-card">
            <h3><%=I18n.t('date.day_names')[care.day.wday]%><br><%= care.day.strftime('%d-%m-%Y') %></h3>
              <% 7.times do |index| %>
                <% case index %>
                  <% when 0 %>
                  <h4>COD1</h4>
                  <% when 1 %>
                  <h4>CATE</h4>
                  <% when 2 %>
                  <h4>CE INC</h4>
                  <% when 3 %>
                  <h4>EQ INC</h4>
                  <% when 4 %>
                  <h4>EQ SAP / EQ INC</h4>
                  <% when 5 %>
                  <h4>STG</h4>
                  <% when 6 %>
                  <h4>SOG</h4>
                <% end %>
                <% unless care.users[index].nil? %>
                  <p><%= care.users[index].first_name %> <%= care.users[index].last_name %></p>
                <% end %>
                <% if index == 6 %>
                  <p><%= care.user.first_name %> <%= care.user.last_name %></p>
                <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
