<% if @cares_next.empty? %>
  <div class="center-btn">
    <%= simple_form_for @care do |f| %>
      <%= f.submit "Générer les gardes de #{@month}", class: "btn" %>
    <% end %>
  </div>
  <div class="user-container">
    <% @users.each do |user| %>
    <h3><%= user.first_name %> <%= user.last_name %></h3>
      <div class="availabilities-container">
        <% 12.times do |month| %>
          <div class="availabilities">
            <div id="flatpickr-show">
              <%= simple_form_for [user, @availability] do |f| %>
                  <%= f.input :day,
                            as: :string,
                            label: "Disponibilités pour #{@month_next_array[month]}",
                            input_html: { data: { controller: "datepicker-show", datepicker_show_availabilities_value: @availabilities_next_hash[user.id][:availabilities_next_days_array][month],
                            datepicker_show_month_value: month, datepicker_show_lastday_value: @last_day_setting  } } %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% else %>
  <div class="center-btn">
    <%= link_to "Supprimer les gardes générées",
      cares_destroy_month_path,
      class: "btn",
      data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr?"}
    %>
  </div>
<% end %>
<% if !(@cares_missing.empty?) %>
  <div class="cards-container">
    <h2>Gardes à compléter</h2>
    <div class="care-cards">
      <% @cares_missing.each do |care| %>
        <%= link_to care_path(care) do %>
          <div class="care-card">
            <h3><%=I18n.t('date.day_names')[care.day.wday]%><br><%= care.day.strftime('%d-%m-%Y') %></h3>
              <% 6.times do |index| %>
                <% case index %>
                  <% when 0 %>
                  <h4>COD1</h4>
                  <% when 1 %>
                  <h4>CATE</h4>
                  <% when 2 %>
                  <h4>CE INC</h4>
                  <% when 3 %>
                  <h4>EQ INC</h4>
                  <% when 4 %>
                  <h4>EQ SAP / EQ INC</h4>
                  <% when 5 %>
                  <h4>STG</h4>
                <% end %>
                <% unless care.users[index].nil? %>
                  <p><%= care.users[index].first_name %> <%= care.users[index].last_name %></p>
                <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% elsif !(@cares_next.empty?) %>
  <h2 class= "m-3">Toutes les gardes ont été vérifiées.</h2>
<% end %>
