<h1>Cares#show</h1>
<p>Find me in app/views/cares/show.html.erb</p>

<p><%= @care.day %></p>
<% @care.users.each do |user| %>
  <p><%= user.first_name %> <%= user.COD_1 %> <%= user.CATE %> <%= user.CE_INC %> <%= user.EQ_INC %> <%= user.EQ_SAP %> <%= user.STG %></p>
<% end %>
