<div class="form-container">
  <h2>Inscription</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs" data-controller="checkbox">
      <%= f.input :first_name,
                  required: true,
                  label: "Prénom",
                  autofocus: true%>
      <%= f.input :last_name,
                  required: true,
                  label: "Nom",
                  autofocus: true%>
      <%= f.input :COD_1,
                  label: "COD1",
                  autofocus: true%>
      <%= f.input :CATE,
                  label: "CATE",
                  autofocus: true%>
      <%= f.input :CATE,
                  label: "CA1E",
                  autofocus: true%>
      <%= f.input :CE_INC,
                      label: "CE_INC",
                      input_html: { id: "ce_inc", data: { checkbox_target: "ceInc", action: "change->checkbox#toggleEqInc" } },
                      autofocus: true%>
      <%= f.input :EQ_INC,
                  label: "EQ_INC",
                  input_html: { id: "eq_inc", data: { checkbox_target: "eqInc", action: "change->checkbox#preventIndependentCheck" }},
                  autofocus: true%>
      <%= f.input :EQ_SAP,
                  label: "EQ_SAP",
                  input_html: { id: "eq_sap", data: { checkbox_target: "eqSap", action: "change->checkbox#preventIndependentCheck" } },
                  autofocus: true%>
      <%= f.input :validator,
                  label: "Validateur ?",
                  autofocus: true%>
      <%= f.input :team_id,
                  label: "Equipe",
                  collection: Team.all,
                  label_method: :number,
                  value_method: :id,
                  default: 1,
                  autofocus: true%>
      <%= f.input :email,
                  required: true,
                  label: "Identifiant",
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "S'inscrire" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
