<div class="user-container-rules">
  <div id="rules">
    <h2>Règles</h2>
    <p><%= @rules %></p>
  </div>

  <div class="user-container">
    <div class="availabilities-container">
      <% 12.times do |month| %>
        <% if @availabilities_next_array[month].empty? %>
          <div class="availabilities">
            <%= simple_form_for [@user, @availability] do |f| %>
              <%= f.input :day,
                        as: :string,
                        label: month == 0 ? "Disponibilités à remplir avant le #{@last_day_setting}" : "Disponibilités pour #{@month_next_array[month]}",
                        input_html: { data: { controller: "datepicker", datepicker_cod_value: @users_cod, datepicker_cate_value: @users_cate,
                        datepicker_ca1e_value: @users_ca1e, datepicker_ceinc_value: @users_ce_inc, datepicker_eqinc_value: @users_eq_inc, datepicker_eqsap_value: @users_eq_sap,
                        datepicker_stg_value: @users_stg, datepicker_month_value: month, datepicker_lastday_value: @last_day_setting  } } %>
              <%= f.hidden_field :month, value: month %>
              <%= f.submit "Valider", class: "btn" %>
            <% end %>
          </div>
        <% else %>
          <div class="availabilities">
            <div id="flatpickr-show">
              <%= simple_form_for [@user, @availability] do |f| %>
                  <%= f.input :day,
                            as: :string,
                            label: "Disponibilités pour #{@month_next_array[month]}",
                            input_html: { data: { controller: "datepicker-show", datepicker_show_availabilities_value: @availabilities_next_days_array[month],
                            datepicker_show_month_value: month, datepicker_show_lastday_value: @last_day_setting  } } %>
              <% end %>
            </div>
            <%= link_to "Modifier", edit_user_availabilty_path(current_user, month: month), class: "btn" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="cares-container">
      <div class="cares">
          <div id="flatpickr-show">
            <%= simple_form_for @care do |f| %>
                <%= f.input :day,
                          as: :string,
                          label: "Mes gardes du mois en cours",
                          input_html: { data: { controller: "datepicker-show-care-actual", datepicker_show_care_actual_cares_value: @cares_month } } %>
              <% end %>
          </div>
          <%= link_to "Voir le détail", monthly_cares_path(month: I18n.l(Date.today, format: '%B').downcase, year: Date.today.strftime('%Y')), class: "btn" %>
        </div>

      <div class="cares">
          <div id="flatpickr-show">
            <%= simple_form_for @care do |f| %>
                <%= f.input :day,
                          as: :string,
                          label: "Mes gardes du mois suivant",
                          input_html: { data: { controller: "datepicker-show-care", datepicker_show_care_cares_value: @cares_next } } %>
              <% end %>
          </div>
          <%= link_to "Voir le détail", monthly_cares_path(month: I18n.l(Date.today + 1.months, format: '%B').downcase, year: Date.today.strftime('%Y')), class: "btn" %>
        </div>
      </div>
  </div>
</div>
