<p>Mes dispos du mois:
<% @availabilities_month.each do |availability| %>
  <%= availability.day %>
<% end %></p>


<% if @availabilities_next.empty? %>
  <h3>A remplir avant le 15</h3>
  <%= simple_form_for [@user, @availability] do |f| %>
    <%= f.input :day,
              as: :string,
              label: "Disponibilités à remplir",
              input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit "Valider" %>
  <% end %>
<% else %>
  <p>Disponibilités OK (edit avec prérempli)</p>
  <div id="flatpickr-show">
    <%= simple_form_for [@user, @availability] do |f| %>
        <%= f.input :day,
                  as: :string,
                  label: "Disponibilités remplies",
                  input_html: { data: { controller: "datepicker-show", datepicker_show_availabilities_value: @availabilities_next_days } } %>
        <%= f.submit "Valider" %>
      <% end %>
  </div>
<% end %>
