<% unless @cares.empty? %>
  <div class="table-container cares-table">
    <table>
      <!-- Table Header -->
      <thead>
        <tr>
          <th></th>
          <% if week == "1"%>
            <% (@week_size - @cares.size).times do %>
              <th></th>
            <% end %>
          <% end %>
          <% @cares.each do |care| %>
            <th><%=I18n.t('date.day_names')[care.day.wday]%><br><%= care.day.strftime('%d-%m-%Y') %></th>
          <% end %>
          <% if week == "5"%>
            <% (@week_size - @cares.size).times do %>
              <th></th>
            <% end %>
          <% end %>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <% @roles.each_with_index do |role, role_index| %>
          <tr>
            <th><%= role %></th>
            <% if week == "1"%>
              <% (@week_size - @cares.size).times do %>
                <td></td>
              <% end %>
            <% end %>
            <% @cares.each do |care| %>
              <% user = care.users[role_index] %>
              <% if user == current_user %>
                <td class="active">
              <% else %>
                <td>
              <% end %>
              <% if user.first_name != "/" %>
                <%= user.first_name.chars.first(2).join %>. <%= user.last_name %>
              <% end %>
              </td>
            <% end %>
              <% if week == "5"%>
                <% (@week_size - @cares.size).times do %>
                  <td></td>
                <% end %>
              <% end %>
  </tr>
        <% end %>
        <tr>
          <th>SOG</th>
            <% if week == "1"%>
              <% (@week_size - @cares.size).times do %>
                <td></td>
              <% end %>
            <% end %>
            <% @cares.each do |care| %>
              <% user = care.user %>
              <% if user == current_user %>
                <td class="active">
              <% else %>
                <td>
              <% end %>
                <% if user.first_name != "/" %>
                  <%= user.first_name.chars.first(2).join %>. <%= user.last_name %>
                <% end %>
              </td>
            <% end %>
              <% if week == "5"%>
                <% (@week_size - @cares.size).times do %>
                  <td></td>
                <% end %>
              <% end %>
  </tr>
      </tbody>
    </table>
  </div>
<% end %>
