<% unless @cares_week1.empty? %>
  <div class="table-container cares-table">
    <table>
      <!-- Table Header -->
      <thead>
        <tr>
          <th></th>
          <% (@week_size - @cares_week1.size).times do %>
            <th></th>
          <% end %>
          <% @cares_week1.each do |care| %>
            <th><%=I18n.t('date.day_names')[care.day.wday]%><br><%= care.day.strftime('%d-%m-%Y') %></th>
          <% end %>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <% @roles.each_with_index do |role, role_index| %>
          <tr>
            <th><%= role %></th>
            <% (@week_size - @cares_week1.size).times do %>
              <td></td>
            <% end %>
            <% @cares_week1.each do |care| %>
              <% user = care.users[role_index] %>
              <% if user == current_user %>
                <td class="active">
              <% else %>
                <td>
              <% end %>
              <% if user.first_name != "/" %>
                <%= user.first_name.chars.first(2).join %>. <%= user.last_name %>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table>
      <!-- Table Header -->
      <thead>
        <tr>
          <th></th>
          <% @cares_week2.each do |care| %>
            <th><%=I18n.t('date.day_names')[care.day.wday]%><br><%= care.day.strftime('%d-%m-%Y') %></th>
          <% end %>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <% @roles.each_with_index do |role, role_index| %>
          <tr>
            <th><%= role %></th>
            <% @cares_week2.each do |care| %>
            <% user = care.users[role_index] %>
              <% if user == current_user %>
                <td class="active">
              <% else %>
                <td>
              <% end %>
              <% if user.first_name != "/" %>
                <%= user.first_name.chars.first(2).join %>. <%= user.last_name %>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table>
      <!-- Table Header -->
      <thead>
        <tr>
          <th></th>
          <% @cares_week3.each do |care| %>
            <th><%=I18n.t('date.day_names')[care.day.wday]%><br><%= care.day.strftime('%d-%m-%Y') %></th>
          <% end %>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <% @roles.each_with_index do |role, role_index| %>
          <tr>
            <th><%= role %></th>
            <% @cares_week3.each do |care| %>
              <% user = care.users[role_index] %>
              <% if user == current_user %>
                <td class="active">
              <% else %>
                <td>
              <% end %>
              <% if user.first_name != "/" %>
                <%= user.first_name.chars.first(2).join %>. <%= user.last_name %>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table>
      <!-- Table Header -->
      <thead>
        <tr>
          <th></th>
          <% @cares_week4.each do |care| %>
            <th><%=I18n.t('date.day_names')[care.day.wday]%><br><%= care.day.strftime('%d-%m-%Y') %></th>
          <% end %>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <% @roles.each_with_index do |role, role_index| %>
          <tr>
            <th><%= role %></th>
            <% @cares_week4.each do |care| %>
              <% user = care.users[role_index] %>
              <% if user == current_user %>
                <td class="active">
              <% else %>
                <td>
              <% end %>
              <% if user.first_name != "/" %>
                <%= user.first_name.chars.first(2).join %>. <%= user.last_name %>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% unless @cares_week5.empty? %>
      <table>
      <!-- Table Header -->
      <thead>
        <tr>
          <th></th>
          <% @cares_week5.each do |care| %>
            <th><%=I18n.t('date.day_names')[care.day.wday]%><br><%= care.day.strftime('%d-%m-%Y') %></th>
          <% end %>
          <% (@week_size - @cares_week5.size).times do %>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <% @roles.each_with_index do |role, role_index| %>
          <tr>
            <th><%= role %></th>
            <% @cares_week5.each do |care| %>
              <% user = care.users[role_index] %>
              <% if user == current_user %>
                <td class="active">
              <% else %>
                <td>
              <% end %>
              <% if user.first_name != "/" %>
                <%= user.first_name.chars.first(2).join %>. <%= user.last_name %>
              <% end %>
              </td>
            <% end %>
            <% (@week_size - @cares_week5.size).times do %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
<% end %>
