<h1>Ajouter jours fériés, Manoeuvres, Equipes</h1>

<h2>Total des gardes (<%= @year %>)</h2>
<% @users.each do |user| %>
  <% unless user.first_name == "/" %>
    <h2><%= user.first_name %> <%= user.last_name %></h2>
    <p> <%= @cares_data[user.id][:yearly_cares] %> </p>
  <% end %>
<% end %>

<%= render "shared/cares" %>
